* {
	margin: 0;
	padding: 0;
}
	
body {
	background: #000;
	color: #fff;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #fff;
	background-color: #fff;
	margin: 1em 0; 
	padding: 0; 
}

.wrapper {
	position: relative;
	width: 1050px;
	height: 1680px;
	margin: 0 auto;
}

.feed {
	width: 425px;
	height: 1500px;
}

.feed.left {
	margin: 50px 50px 0 0;
	float: left;
	text-align: left;
}

.feed.right {
	margin: 50px 35px 0 0;
	float: right;
	text-align: right;
}

.bottom {
	position: absolute;
	bottom: 50px;
	width: 850px;
	height: 100px;
	margin: 0 100px 0 100px;
	clear: both;
	text-align: center;
}

.bottom_feed {
	position: absolute;
	bottom: 150px;
	width: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
}

.bottom_feed div {
	max-width: 300px;
	padding: 0 20px;
}

#clock {
	text-align: center;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 102px;
	font-weight: 300;
	line-height: 102px;
}

h1.smaller {
	font-size: 96px;
}

h1.icon_height {
	height: 104px;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 300;
}

h2.smaller {
	font-size: 22px;
	letter-spacing: 1px;
}

h2.time {
	font-size: 22px;
	letter-spacing: 1px;
}
	
h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 42px;
	font-weight: 300;
	padding: 20px 0 0 0;
}
	
p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
}
	
p.date {
	font-size: 16px;
	font-weight: 600;
}

table {
	table-layout: fixed;
	width: inherit;
}

table.sl {
	width: inherit;
}

table.sl tr td {
	font-size: 20px;
}

table.sl tr td:first-child {
	width: 75px;
}

table.sl tr td:nth-child(2) {
	width: 225px;
}

table.sl tr td:first-child,
table.sl tr td:nth-child(2) {
	text-align: left;
}

td {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}